* {
  margin: 0;
  padding: 0;
}
.left {
  display: none;
}
.container {
  /* dektop */
  @media (min-width: 1441px) {
    display: flex;
    width: 500px;
    margin: auto;
    height: 400px;
    margin-top: 120px;
    justify-content: space-around;
    align-items: center;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    display: flex;
    width: 500px;
    margin: auto;
    height: 400px;
    margin-top: 120px;
    justify-content: space-around;
    align-items: center;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    display: flex;
    width: 500px;
    margin: auto;
    height: 400px;
    margin-top: 120px;
    justify-content: space-around;
    align-items: center;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    display: flex;
    width: 500px;
    margin: auto;
    height: 400px;
    margin-top: 120px;
    justify-content: space-around;
    align-items: center;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    display: flex;
    width: 500px;
    margin: auto;
    height: 400px;
    margin-top: 120px;
    justify-content: space-around;
    align-items: center;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    display: flex;
    width: 500px;
    margin: auto;
    height: 400px;
    margin-top: 120px;
    justify-content: space-around;
    align-items: center;
  }
}

form {
  /* dektop */
  @media (min-width: 1441px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.log_name {
  /* dektop */
  @media (min-width: 1441px) {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
}
.log_name span {
  /* dektop */
  @media (min-width: 1441px) {
    font-size: 20px;
    border-bottom: 1px solid black;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    font-size: 20px;
    border-bottom: 1px solid black;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 20px;
    border-bottom: 1px solid black;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 20px;
    border-bottom: 1px solid black;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 20px;
    border-bottom: 1px solid black;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    font-size: 20px;
    border-bottom: 1px solid black;
  }
}

.name_Lname {
  /* dektop */
  @media (min-width: 1441px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}

.name {
  /* dektop */
  @media (min-width: 1441px) {
    display: flex;
    flex-direction: column;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    display: flex;
    flex-direction: column;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    display: flex;
    flex-direction: column;
  }
}
.name input {
  /* dektop */
  @media (min-width: 1441px) {
    width: 250px;
    height: 40px;
    font-size: 16px;
    border-radius: 6px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    width: 250px;
    height: 40px;
    font-size: 16px;
    border-radius: 6px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 250px;
    height: 40px;
    font-size: 16px;
    border-radius: 6px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    width: 250px;
    height: 40px;
    font-size: 16px;
    border-radius: 6px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    width: 250px;
    height: 40px;
    font-size: 16px;
    border-radius: 6px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    width: 250px;
    height: 40px;
    font-size: 16px;
    border-radius: 6px;
  }
}
.name label {
  font-size: 20px;

  /* dektop */
  @media (min-width: 1441px) {
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
  }
}
.last_name {
  /* dektop */
  @media (min-width: 1441px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}
.last_name label {
  /* dektop */
  @media (min-width: 1441px) {
    font-size: 20px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    font-size: 20px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 20px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 20px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 20px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    font-size: 20px;
  }
}
.last_name input {
  /* dektop */
  @media (min-width: 1441px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
  }
}

.contact_number {
  /* dektop */
  @media (min-width: 1441px) {
    display: flex;
    flex-direction: column;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    display: flex;
    flex-direction: column;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    display: flex;
    flex-direction: column;
  }
}

.phone {
  /* dektop */
  @media (min-width: 1441px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}
.phone input {
  /* dektop */
  @media (min-width: 1441px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
}
.phone label {
  /* dektop */
  @media (min-width: 1441px) {
    font-size: 20px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    font-size: 20px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 20px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 20px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 20px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    font-size: 20px;
  }
}

.email {
  /* dektop */
  @media (min-width: 1441px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}
.email input {
  /* dektop */
  @media (min-width: 1441px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
}
.email label {
  /* dektop */
  @media (min-width: 1441px) {
    font-size: 20px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    font-size: 20px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 20px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 20px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 20px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    font-size: 20px;
  }
}

.pass_Comfirmpass {
  /* dektop */
  @media (min-width: 1441px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}

.password {
  /* dektop */
  @media (min-width: 1441px) {
    display: flex;
    flex-direction: column;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    display: flex;
    flex-direction: column;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    display: flex;
    flex-direction: column;
  }
}
.password input {
  /* dektop */
  @media (min-width: 1441px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
}
.password label {
  /* dektop */
  @media (min-width: 1441px) {
    font-size: 20px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    font-size: 20px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 20px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 20px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 20px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    font-size: 20px;
  }
}
.confirm-password {
  /* dektop */
  @media (min-width: 1441px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}
.confirm-password input {
  /* dektop */
  @media (min-width: 1441px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    width: 250px;
    height: 40px;
    border-radius: 6px;
  }
}
.confirm-password label {
  /* dektop */
  @media (min-width: 1441px) {
    font-size: 20px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    font-size: 20px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 20px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 20px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 20px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    font-size: 20px;
  }
}

#submit {
  /* dektop */
  @media (min-width: 1441px) {
    margin-top: 30px;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    margin-top: 30px;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    margin-top: 30px;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    margin-top: 30px;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    margin-top: 30px;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    margin-top: 30px;
  }
}
#submit input {
  /* dektop */
  @media (min-width: 1441px) {
    font-size: 20px;
    width: 200px;
    border-radius: 6px;
    height: 40px;
    background-color: white;
  }
  /* laptop and dektop small */
  @media (min-width: 1025px) and (max-width: 1440px) {
    font-size: 20px;
    width: 200px;
    border-radius: 6px;
    height: 40px;
    background-color: white;
  }
  /* small laptop */
  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 20px;
    width: 200px;
    border-radius: 6px;
    height: 40px;
    background-color: white;
  }
  /* tablets and ipads */
  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 20px;
    width: 200px;
    border-radius: 6px;
    height: 40px;
    background-color: white;
  }
  /* mobile */
  @media (min-width: 320px) and (max-width: 480px) {
    font-size: 20px;
    width: 200px;
    border-radius: 6px;
    height: 40px;
    background-color: white;
  }
  /* mobile */
  @media (min-width: 120px) and (max-width: 320px) {
    font-size: 20px;
    width: 200px;
    border-radius: 6px;
    height: 40px;
    background-color: white;
  }
}
